.offerPage {
  padding: 30px;
}

.offerPage > div {
  display: flex;
  gap: 20px;
}

.offerPage img {
  width: auto;
  height: 400px;
  max-height: 50vh;
}

.detail {
  padding: 10px;
}

.buyButton {
  /* text-align: center; */

  border-radius: 10px;
  background-color: #717171;
  color: white;
  line-height: 30px;
  width: 150px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
}
