/* LOGIN CSS */

.buttonConnecter {
  background-color: #3e9c9a;
  color: #fff;
  border-radius: 10px;
  border: rgb(164, 138, 138) 1px solid;
  height: 40px;
  width: 20vw;
  min-width: 150px;
  max-width: 250px;
  margin: auto;
}

.formLogin input {
  margin: auto;
  max-width: 400px;
}

.errorPassword {
  text-align: center;
  color: rgb(106, 7, 7);
}
