main,
form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 60vw;
  margin: auto;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

label {
  display: inline-block;
  width: 200px;
}
input {
  width: 50vw;
}

.description {
  width: 50vw;
  height: 150px;
}

.errorOffer {
  padding-bottom: 20px;
}

.send {
  margin-bottom: 20px;
}
