.buttonInscrire {
  background-color: #3e9c9a;
  color: #fff;
  border-radius: 10px;
  border: rgb(164, 138, 138) 1px solid;
  height: 40px;
  width: 20vw;
  min-width: 150px;
  max-width: 250px;
  margin: auto;
}

.formSignUp :not(:last-child) {
  margin: auto;
  max-width: 400px;
}

.newsletter {
  display: flex;
  align-items: center;
  margin: auto;
}

.newsletter :first-child {
  width: 650px;
}
